<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="mail.smtp" value="smtp.office365.com" />
    <add key="mail.from" value="report@arabam.com" />
    <add key="mail.password" value="Arabam2018" />
    <add key="mail.to" value="ibrahim.ozgon@arabam.com" />
    <add key="mail.port" value="587" />
    <add key="mail.ssl" value="1" />
    <add key="urls" value="https://www.arabam.com;https://www.arabam.com/ikinci-el/arazi-suv-pick-up;https://www.arabam.com/ilan/sahibinden-satilik-dodge-nitro-2-8-crd-r-t/nitro-r-t-sport-2008-orjinal-full/7815586" />
    <add key="mobileUrls" value="https://www.arabam.com;https://www.arabam.com/ikinci-el/arazi-suv-pick-up;https://www.arabam.com/ilan/sahibinden-satilik-dodge-nitro-2-8-crd-r-t/nitro-r-t-sport-2008-orjinal-full/7815586" />
  </appSettings>
  <log4net>
    <appender name="tnet" type="log4net.Appender.TelnetAppender">
      <port value="3761" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p [%t]: %m%n" />
      </layout>
    </appender>
    <!--RollingFile Begin-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\temp\webpagetest_log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="SELENIUM%newline%level: %date %thread %logger - %message%newline" />
      </layout>
    </appender>
    <!--RollingFile End-->
    <root>
      <level value="ALL" />
      <appender-ref ref="tnet" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
</configuration>